<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chenum.dao.ArticleMapper">
    <resultMap id="BaseResultMap" type="com.chenum.po.Article">
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="title" jdbcType="VARCHAR" property="title"/>
        <result column="content" jdbcType="VARCHAR" property="content"/>
        <result column="markdown" jdbcType="VARCHAR" property="markdown"/>
        <result column="author" jdbcType="OTHER" property="author"/>
        <result column="content_tag" jdbcType="VARCHAR" property="contentTag"/>
        <result column="word_count" jdbcType="BIGINT" property="wordCount"/>
        <result column="read_time" jdbcType="INTEGER" property="readTime"/>
        <result column="contribution" jdbcType="OTHER" property="contribution"/>
        <result column="is_like" jdbcType="BIT" property="isLike"/>
        <result column="is_comment" jdbcType="BIT" property="isComment"/>
        <result column="is_admiration" jdbcType="BIT" property="isAdmiration"/>
        <result column="publish_time" jdbcType="TIMESTAMP" property="publishTime"/>
        <result column="status" jdbcType="BIT" property="status"/>
        <result column="creator" jdbcType="VARCHAR" property="creator"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="last_reviewer" jdbcType="VARCHAR" property="lastReviewer"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, title, content, markdown, author, content_tag, word_count, read_time,contribution,is_like, is_comment,
    is_admiration, publish_time,status,creator, create_time, update_time, last_reviewer
    </sql>
    <sql id="Conditional_List">
        where 1 = 1
        <if test="id != null and id != ''">
            and id = ${id}
        </if>
        <if test="title != null and title != ''">
            and title = #{title}
        </if>
        <if test="content != null and content != ''">
            and content like concat('%',#{content},'%')
        </if>
        <if test="markdown != null and markdown != ''">
            and markdown like concat('%',#{markdown},'%')
        </if>
        <if test="author != null and author != ''">
            and author = #{author}
        </if>
        <if test="contentTag != null and contentTag != ''">
            and content_tag like concat('%',#{contentTag},'%')
        </if>
        <if test="wordCount != null">
            and word_count = #{wordCount}
        </if>
        <if test="readTime != null">
            and read_time = #{readTime}
        </if>
        <if test="contribution != null">
            and contribution = #{contribution}
        </if>
        <if test="isLike != null">
            and is_like = #{isLike}
        </if>
        <if test="isComment != null">
            and is_comment = #{isComment}
        </if>
        <if test="isAdmiration != null">
            and is_admiration = #{isAdmiration}
        </if>
        <if test="publishTime != null">
            and publish_time = #{publishTime}
        </if>
        <if test="status != null">
            and status = #{status}
        </if>
        <if test="creator != null and creator != ''">
            and creator = #{creator}
        </if>
        <if test="createTime != null">
            and create_time = #{createTime}
        </if>
        <if test="updateTime != null">
            and update_time = #{updateTime}
        </if>
        <if test="lastReviewer != null and lastReviewer != ''">
            and last_reviewer like concat('%',#{lastReviewer},'%')
        </if>
        <if test="contribution != null and lastReviewer != ''">
            and contribution like concat('%',#{contribution},'%')
        </if>
        <if test="beginTime != null and entTime != null">
            and create_time between #{beginTime} and #{endTime}
        </if>
        order by create_time desc
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tb_article
        where id = #{id,jdbcType=VARCHAR}
    </select>
    <select id="selectByPage" parameterType="com.chenum.vo.ArticleVO" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tb_article
        <include refid="Conditional_List"/>
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        delete
        from tb_article
        where id = #{id,jdbcType=VARCHAR}
    </delete>
    <insert id="insert" parameterType="com.chenum.po.Article" useGeneratedKeys="true" keyProperty="id">
        <selectKey keyProperty="id" resultType="java.lang.String" order="BEFORE">
            SELECT UUID_SHORT() FROM DUAL
        </selectKey>
        insert into tb_article (id, title, content,
        markdown, author, content_tag,
        word_count,read_time,contribution, is_like, is_comment,
        is_admiration, publish_time,status,creator, create_time,
        update_time, last_reviewer
        )
        values (#{id,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR},
        #{markdown,jdbcType=VARCHAR}, #{author,jdbcType=OTHER}, #{contentTag,jdbcType=VARCHAR},
        #{wordCount,jdbcType=BIGINT},#{readTime,jdbcType=INTEGER}, #{contribution,jdbcType=OTHER},#{isLike,jdbcType=BIT}, #{isComment,jdbcType=BIT},
        #{isAdmiration,jdbcType=BIT}, #{publishTime,jdbcType=TIMESTAMP},#{status,jdbcType=BIT},#{creator,jdbcType=VARCHAR},
        #{createTime,jdbcType=TIMESTAMP},
        #{updateTime,jdbcType=TIMESTAMP}, #{lastReviewer,jdbcType=VARCHAR}
        )

    </insert>
    <insert id="insertSelective" parameterType="com.chenum.po.Article">
        <selectKey keyProperty="id" resultType="java.lang.String" order="BEFORE">
            SELECT UUID_SHORT() FROM DUAL
        </selectKey>
        insert into tb_article
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="title != null">
                title,
            </if>
            <if test="content != null">
                content,
            </if>
            <if test="markdown != null">
                markdown,
            </if>
            <if test="author != null">
                author,
            </if>
            <if test="contentTag != null">
                content_tag,
            </if>
            <if test="wordCount != null">
                word_count,
            </if>
            <if test="readTime != null">
                read_time,
            </if>
            <if test="contribution != null">
                contribution,
            </if>
            <if test="isLike != null">
                is_like,
            </if>
            <if test="isComment != null">
                is_comment,
            </if>
            <if test="isAdmiration != null">
                is_admiration,
            </if>
            <if test="publishTime != null">
                publish_time,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="creator != null">
                creator,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="lastReviewer != null">
                last_reviewer,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="title != null">
                #{title,jdbcType=VARCHAR},
            </if>
            <if test="content != null">
                #{content,jdbcType=VARCHAR},
            </if>
            <if test="markdown != null">
                #{markdown,jdbcType=VARCHAR},
            </if>
            <if test="author != null">
                #{author,jdbcType=OTHER},
            </if>
            <if test="contentTag != null">
                #{contentTag,jdbcType=VARCHAR},
            </if>
            <if test="wordCount != null">
                #{wordCount,jdbcType=BIGINT},
            </if>
            <if test="readTime != null">
                #{readTime,jdbcType=INTEGER},
            </if>
            <if test="contribution != null">
                #{contribution,jdbcType=OTHER},
            </if>
            <if test="isLike != null">
                #{isLike,jdbcType=BIT},
            </if>
            <if test="isComment != null">
                #{isComment,jdbcType=BIT},
            </if>
            <if test="isAdmiration != null">
                #{isAdmiration,jdbcType=BIT},
            </if>
            <if test="publishTime != null">
                #{publishTime,jdbcType=TIMESTAMP},
            </if>
            <if test="status != null">
              #{status,jdbcType=BIT},
            </if>
            <if test="creator != null">
                #{creator,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="lastReviewer != null">
                #{lastReviewer,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.chenum.po.Article">
        update tb_article
        <set>
            <if test="title != null">
                title = #{title,jdbcType=VARCHAR},
            </if>
            <if test="content != null">
                content = #{content,jdbcType=VARCHAR},
            </if>
            <if test="markdown != null">
                markdown = #{markdown,jdbcType=VARCHAR},
            </if>
            <if test="author != null">
                author = #{author,jdbcType=OTHER},
            </if>
            <if test="contentTag != null">
                content_tag = #{contentTag,jdbcType=VARCHAR},
            </if>
            <if test="wordCount != null">
                word_count = #{wordCount,jdbcType=BIGINT},
            </if>
            <if test="readTime != null">
                read_time = #{readTime,jdbcType=INTEGER},
            </if>
            <if test="contribution != null">
                contribution = #{contribution,jdbcType=OTHER},
            </if>
            <if test="isLike != null">
                is_like = #{isLike,jdbcType=BIT},
            </if>
            <if test="isComment != null">
                is_comment = #{isComment,jdbcType=BIT},
            </if>
            <if test="isAdmiration != null">
                is_admiration = #{isAdmiration,jdbcType=BIT},
            </if>
            <if test="publishTime != null">
                publish_time = #{publishTime,jdbcType=TIMESTAMP},
            </if>
            <if test="status != null">
              status = #{status,jdbcType=BIT},
            </if>
            <if test="creator != null">
                creator = #{creator,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="lastReviewer != null">
                last_reviewer = #{lastReviewer,jdbcType=VARCHAR},
            </if>
            <if test="contribution != null">
                contribution = #{contribution,jdbcType=LONGVARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.chenum.po.Article">
        update tb_article
        set title         = #{title,jdbcType=VARCHAR},
            content       = #{content,jdbcType=VARCHAR},
            markdown      = #{markdown,jdbcType=VARCHAR},
            author        = #{author,jdbcType=OTHER},
            content_tag   = #{contentTag,jdbcType=VARCHAR},
            word_count    = #{wordCount,jdbcType=BIGINT},
            read_time     = #{readTime,jdbcType=INTEGER},
            contribution  = #{contribution,jdbcType=OTHER},
            is_like       = #{isLike,jdbcType=BIT},
            is_comment    = #{isComment,jdbcType=BIT},
            is_admiration = #{isAdmiration,jdbcType=BIT},
            publish_time  = #{publishTime,jdbcType=TIMESTAMP},
            status        = #{status,jdbcType=BIT},
            creator       = #{creator,jdbcType=VARCHAR},
            create_time   = #{createTime,jdbcType=TIMESTAMP},
            update_time   = #{updateTime,jdbcType=TIMESTAMP},
            last_reviewer = #{lastReviewer,jdbcType=VARCHAR}
        where id = #{id,jdbcType=VARCHAR}
    </update>
</mapper>