<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chenum.dao.CommentMapper">
    <resultMap id="BaseResultMap" type="com.chenum.po.Comment">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="comment" jdbcType="VARCHAR" property="comment"/>
        <result column="parent_id" jdbcType="VARCHAR" property="parentId"/>
        <result column="status" jdbcType="BIT" property="status"/>
        <result column="article_id" jdbcType="VARCHAR" property="articleId"/>
        <result column="commenter" jdbcType="VARCHAR" property="commenter"/>
        <result column="commenter_email" jdbcType="VARCHAR" property="commenterEmail"/>
        <result column="avatar_url" jdbcType="VARCHAR" property="avatarUrl"/>
        <result column="creator" jdbcType="VARCHAR" property="creator"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="last_reviewer" jdbcType="VARCHAR" property="lastReviewer"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, comment,parent_id, status, article_id, commenter, commenter_email, avatar_url, creator,
    create_time, update_time, last_reviewer
    </sql>
    <sql id="Conditional_List">
        where 1 = 1
        <if test="comment != null and comment != ''">
            and comment = #{comment,jdbcType=VARCHAR}
        </if>
        <if test="parentId != null and parentId != ''">
            and parent_id = #{parentId,jdbcType=VARCHAR}
        </if>
        <if test="status != null">
            and status = #{status,jdbcType=BIT}
        </if>
        <if test="articleId != null and articleId != ''">
            and article_id = #{articleId,jdbcType=VARCHAR}
        </if>
        <if test="commenter != null and commenter != ''">
            and commenter = #{commenter,jdbcType=VARCHAR}
        </if>
        <if test="commenterEmail != null and commenterEmail != ''">
            and commenter_email = #{commenter_email,jdbcType=VARCHAR}
        </if>
        <if test="avatarUrl != null and avatarUrl != ''">
            and avatar_url = #{avatarUrl,jdbcType=VARCHAR}
        </if>
        <if test="creator != null and creator != ''">
            and creator = #{creator,jdbcType=VARCHAR}
        </if>
        <if test="createTime != null">
            and create_time = #{createTime,jdbcType=TIMESTAMP}
        </if>
        <if test="updateTime != null">
            and update_time = #{updateTime,jdbcType=TIMESTAMP}
        </if>
        <if test="lastReviewer != null">
            and last_reviewer = #{lastReviewer,jdbcType=VARCHAR}
        </if>
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tb_comment
        where id = #{id,jdbcType=INTEGER}
    </select>
    <select id="selectSelective" parameterType="com.chenum.po.Comment" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tb_comment
        <include refid="Conditional_List"/>
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        delete
        from tb_comment
        where id = #{id,jdbcType=VARCHAR}
    </delete>
    <insert id="insert" parameterType="com.chenum.po.Comment" keyProperty="id">

        insert into tb_comment (id, parent_id, status,article_id,
        commenter, commenter_email, avatar_url,
        creator, create_time, update_time,
        last_reviewer, comment)
        values (#{id,jdbcType=INTEGER}, #{parentId,jdbcType=VARCHAR},
        #{status,jdbcType=BIT},#{articleId,jdbcType=VARCHAR},
        #{commenter,jdbcType=VARCHAR}, #{commenterEmail,jdbcType=VARCHAR}, #{avatarUrl,jdbcType=VARCHAR},
        #{creator,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP},
        #{lastReviewer,jdbcType=VARCHAR}, #{comment,jdbcType=VARCHAR})
        <selectKey keyProperty="id" resultType="java.lang.Integer" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>
    <insert id="insertSelective" parameterType="com.chenum.po.Comment" keyProperty="id">
        insert into tb_comment
        <trim prefix="(" suffix=")" suffixOverrides=",">
                id,
            <if test="parentId != null">
                parent_id,
            </if>
            <if test="status != null">
                status
            </if>
            <if test="articleId != null">
                article_id,
            </if>
            <if test="commenter != null">
                commenter,
            </if>
            <if test="commenterEmail != null">
                commenter_email,
            </if>
            <if test="avatarUrl != null">
                avatar_url,
            </if>
            <if test="creator != null">
                creator,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="lastReviewer != null">
                last_reviewer,
            </if>
            <if test="comment != null">
                comment,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            id,
            <if test="parentId != null">
                #{parentId,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=BIT},
            </if>
            <if test="articleId != null">
                #{articleId,jdbcType=VARCHAR},
            </if>
            <if test="commenter != null">
                #{commenter,jdbcType=VARCHAR},
            </if>
            <if test="commenterEmail != null">
                #{commenterEmail,jdbcType=VARCHAR},
            </if>
            <if test="avatarUrl != null">
                #{avatarUrl,jdbcType=VARCHAR},
            </if>
            <if test="creator != null">
                #{creator,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="lastReviewer != null">
                #{lastReviewer,jdbcType=TIMESTAMP},
            </if>
            <if test="comment != null">
                #{comment,jdbcType=VARCHAR},
            </if>
        </trim>
        <selectKey keyProperty="id" resultType="java.lang.Integer" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>

    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.chenum.po.Comment">
        update tb_comment
        <set>
            <if test="parentId != null">
                parent_id = #{parentId,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=BIT},
            </if>
            <if test="articleId != null">
                article_id = #{articleId,jdbcType=VARCHAR},
            </if>
            <if test="commenter != null">
                commenter = #{commenter,jdbcType=VARCHAR},
            </if>
            <if test="commenterEmail != null">
                commenter_email = #{commenterEmail,jdbcType=VARCHAR},
            </if>
            <if test="avatarUrl != null">
                avatar_url = #{avatarUrl,jdbcType=VARCHAR},
            </if>
            <if test="creator != null">
                creator = #{creator,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="lastReviewer != null">
                last_reviewer = #{lastReviewer,jdbcType=VARCHAR},
            </if>
            <if test="comment != null">
                comment = #{comment,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKeyWith" parameterType="com.chenum.po.Comment">
        update tb_comment
        set parent_id        = #{parentId,jdbcType=VARCHAR},
            status           = #{status,jdbcType=BIT},
            article_id       = #{articleId,jdbcType=VARCHAR},
            commenter        = #{commenter,jdbcType=VARCHAR},
            commenter_email  = #{commenterEmail,jdbcType=VARCHAR},
            avatar_url = #{avatarUrl,jdbcType=VARCHAR},
            creator          = #{creator,jdbcType=VARCHAR},
            create_time      = #{createTime,jdbcType=TIMESTAMP},
            update_time      = #{updateTime,jdbcType=TIMESTAMP},
            last_reviewer    = #{lastReviewer,jdbcType=VARCHAR},
            comment          = #{comment,jdbcType=VARCHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>